.footer_cont {
    width: 100%;
    background-color: #212529;
    height: inherit;
   
}

h6 {
    color: #525252;
}

.footer_description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer_description>div>p {
    color: #bac5c0;
}

.footer_description>div>p:hover {
    color: #725c5c
}

@media screen and (max-width:420px) {
    .footer_cont {
        font-size: 12px;
    }
}